/* Styles pour le header */
.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #eaeaea;
    height: 60px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo-circle {
    width: 25px;
    height: 25px;
    background: linear-gradient(135deg, #6200ea, #b388ff);
    border-radius: 50%;
  }
  
  .logo h1 {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    
  }
  
  /*.nav-item {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    padding: 0.5rem 0;
    position: relative;
  }*/
  
  .nav-item.active {
    color: #6200ea;
    font-weight: bold;
  }
  
  .nav-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #6200ea;
  }
  
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-box input {
   
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 600px;
    font-size: 1rem;
    outline: none;
    background-color: #e6e6e6;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    color: #aaa;
    pointer-events: none;
    font-size: 1rem;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  
  .profile-icon::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .profile-icon::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 6px;
    width: 18px;
    height: 8px;
    background-color: #fff;
    border-radius: 50% / 100% 100% 0 0;
  }

  
  
  .nav-item {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.3s ease;
  }
  
 
  
  
  
  
  